.listing-card {
    padding: 15px;
    border: 1px solid #e5e5e5;
    margin-bottom: 30px;
    border-radius: 4px;
}
.listing-card h4  {
    color: #2c2c2c;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.listing-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 10px;
}
.listing-card .price {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
}



#rental-acceptance > .control-bar {
    background: #2c2c2c;
    width: 100%;
    padding: 10px 50px;
    text-align: right;
}

#rental-acceptance > .container {
    background: #cccccc;
    width: 100%;
    padding: 30px 50px;
}

#rental-acceptance > .container .inner-content {
    background: white;
    height: 1054px;
}

.agreement-letter  {
    padding: 30px 50px;
}

.agreement-letter .heading {
    text-align: center;
    padding: 10px 0 30px 0;
}

.agreement-letter input {
    border: none;
}
